<%- include('../header'); -%>
  <div class="container">
    <br>
    <a href="/users/signup" type="button" class="btn btn-primary">Crear un nuevo usuario</a>
    <br>
    <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Celphone</th>
                    <th scope="col">Banned</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i=0; i < users.length; i++ ) { %>
                    <tr>

                        <th scope="row"><%= users[i].id %></th>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].password %></td>
                        <td><%= users[i].celphone %></td>
                        <td><%= users[i].banned %></td>
                        <td>
                            <a href="/editUser/<%= users[i].id %>" type="button" class="btn btn-primary">Editar</a>
                            <a href="/deleteUser/<%= users[i].id %>" type="button" class="btn btn-primary">Eliminar</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
  </div>
        <%- include('../footer'); -%>

